html,body{
  height: inherit;
}
html {
  //background: url(../img/common/sa-bg.png);
  
}

/* misc */
.d-table-fixed {
  table-layout: fixed;
}


.sa-nav ul b {
  float: right;
  font-size:rem($baseFontSize - 4px);
  margin-top: 2px;
}

.sa-nav ul .menu-item-parent {
  display: inline-block;
  margin: 0;
  padding: 0;
}

.sa-nav ul li a {
  line-height: normal;
  font-size:rem($baseFontSize + 1px);
  padding: 10px 10px 10px 11px;
  display: block;
  font-weight: normal;
  text-decoration: none !important;
  position: relative;
}

.sa-nav ul li a:hover {
  text-decoration: none;
}

.sa-nav ul li a.inactive, .sa-nav ul li a.inactive:hover {
  opacity: .5;
  cursor: not-allowed;
}

.sa-nav ul li li {
  border-bottom: none;
  position: relative;
}


.sa-content-wrapper {
  flex: 1;
  position: relative;
  overflow: hidden;
  min-height: calc(100vh - #{$headerHeight});
}

.publicHeader-active .sa-content-wrapper {
  min-height: calc(100vh - #{$publicHeaderHeight});
}

.no-header .sa-content-wrapper {
  min-height: 100vh;
}


.sa-content {
  padding: rem(10px) rem(14px) rem($footerHeight + 15px);
}

.sa-page-footer {
  height: rem($footerHeight);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0 1rem;
}



.sa-fixed-header {
  .sa-content {
    padding-bottom: rem(10px + 52px);
  }
  
}
.sa-menu-on-top {
  .sa-content {
    min-height: calc(100vh - #{$headerHeight} - 70px - 40px);
  }
}
.sa-fixed-page-footer{
  .sa-page-footer{
    position: fixed;
    padding-left: 233px;
  }
}
.minified{
  .sa-page-footer{
    padding-left: 58px;
  }
}
.sa-hidden-menu{
  .sa-page-footer{
    padding-left: 20px;
  }
}


// inside container style start
body.sa-inside-container{
    position: absolute;
    left: 0;
    right: 0;
    padding: 0;
    border-left: 1px solid;
    border-right: 1px solid;
    max-width: 1166px;
    margin: 0 auto;
    overflow-x: hidden;
}
.sa-inside-container.sa-fixed-header{
  padding-top: rem($headerHeight);
  .sa-page-header{
      max-width: 1138px;
      left: auto;
      right: auto;
    }
}
.sa-inside-container.sa-fixed-page-footer{
  .sa-page-footer{
      left: auto;
      right: auto;
      padding-left: 20px;
    }
}

// styles according to container div.
body.sa-inside-container,
.sa-inside-container.sa-fixed-page-footer .sa-page-footer{
    width: 100%;
}
@media (min-width: 540px){
  .sa-inside-container.sa-fixed-page-footer .sa-page-footer{
    max-width: inherit;
    left: 220px;
  }
}
@media (min-width: 576px){
  body.sa-inside-container,
  .sa-inside-container.sa-fixed-header .sa-page-header{
      max-width: 540px;
  }
  .sa-inside-container.sa-fixed-page-footer .sa-page-footer{
    max-width: 320px;
    left: inherit;
  }
}
@media (min-width: 768px){
  body.sa-inside-container,
  .sa-inside-container.sa-fixed-header .sa-page-header{
      max-width: 720px;
  }
  .sa-inside-container.sa-fixed-page-footer .sa-page-footer{
    max-width: 500px;
  }
}
@media (min-width: 992px){
  body.sa-inside-container,
  .sa-inside-container.sa-fixed-header .sa-page-header{
      max-width: 960px;
  }
  .sa-inside-container.sa-fixed-page-footer .sa-page-footer{
    max-width: 740px;
  }
  .sa-inside-container.sa-fixed-page-footer.minified .sa-page-footer{
    max-width: 914px;
  }
}
@media (min-width: 1200px){
  body.sa-inside-container,
  .sa-inside-container.sa-fixed-header .sa-page-header{
      max-width: 1166px;
  }
  .sa-inside-container.sa-fixed-page-footer .sa-page-footer{
    max-width: 920px;
  }
  .sa-inside-container.sa-fixed-page-footer.minified .sa-page-footer{
    max-width: 1094px;
  }
}
// inside container style end


// applayout page start
.jarviswidget{
  margin-bottom: 30px;
}

.ui-sortable-handle{
  .badge{
    font-size:rem($baseFontSize - 1px);
    @include css3(border-radius,10px);
  }
}
.block-header{
  display: block !important;
}
.align-right{
  text-align: right;
}
.no-padding .table-responsive .table{
  margin-bottom: 0;
}

.table-forum {
  thead tr{
    background: none!important;
    th{
      border-top: none !important;
      font-size:rem($baseFontSize + 4px);
      font-weight: 400;
    }
  }
  tr{
    td{
      h4{
        font-size:rem($baseFontSize + 2px);
        font-weight: 700;
        margin: 0;
        small{
          font-size:rem($baseFontSize);
          display: block;
          margin-top: 2px;
        }
      }
    }
  }
  tr.closed{
    h4 > a{
      text-decoration: line-through;
      cursor: not-allowed;
    }
  }
  td {
    border-top-style: dashed;
    padding-top: rem(11px);
    padding-bottom: rem(11px);
  }
  .icon-cell {
    width: rem(53px);
    text-align: right;
    vertical-align: middle;

  }
}
code {
    //padding: 2px 4px;
    font-size: 90%;
    //background-color: #f9f2f4;
    @include css3(border-radius,2px);
}
// applayout page end


// layouts page start
.page-title {
    margin: 12px 0 28px;
}

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
img{
  max-width: 100%;
}

@media (max-width: 979px){
  .jarviswidget-ctrls {
    display: none;
  }
}
@media (max-width: 767px){
  .page-footer{
    padding: 15px;
  }
  .footer-txt{
    display: none;
  }
  .for-desktop{
    display: none !important;
  }
}
// layouts page end






// default left side tabs
.jarviswidget header .nav-default{
  > li > a{
    margin-left: 0;
    margin-right: 2px;
  }
  > li:first-child{
    a{
      border-left: 0;
    }
  }
  > li:last-child{
    .nav-link.active{
      border-right: 1px solid;
    }
  }
  .nav-item:last-child {
    .nav-link {
      border-right: 0;
    }
  }
  .nav-link.active{
    position: relative;
    bottom: -1px;
  }
}

// carousel style
.item{
  display: none;
}
/* .carousel-control-prev-icon,
.carousel-control-next-icon{
  background: url(../img/arrow-left.png) no-repeat;
  width: 28px;
  height: 38px;
}
.carousel-control-next-icon{
  background: url(../img/arrow-right.png) no-repeat;
}
.carousel-indicators{
  bottom: 40px;
  li{
    width: 10px;
    height: 10px;
    @include css3(border-radius,50%);
  }
} */

.table-outer{
  max-width: 100%;
  overflow-y: auto;
}

// projects.html
.project-members > a {
  display: inline-block;
  margin-right: 3px;
}
.project-members img {
    width: 25px;
    @include css3(border-radius,0);
}
img.busy,
img.away,
img.offline,
img.online {
  border-left: 3px solid;
}

// default left side tabs end


// widgets page start

.widget-toolbar{
  .pagination {
     margin: 4px 0;
  }
}
// widgets page end


@media (max-width: 544px){
  .hidden-sm-down{
    display: none !important;
  }
}
@media (max-width: 767px){
  .hidden-xs-down,
  .hidden-xs{
    display: none !important;
  }
  .home-header{
    display: block !important;
  }
  .sa-sparks{
    text-align: center;
    padding: 10px 0;
    margin: 5px 0 15px;
    @include clearfix();
    h5 {
      float: none;
    }
    li {
      text-align: center;
      float: left;
      width: 33.33%;
    }
  }
  .sa-page-footer{
    height: auto;
    padding: 12px 15px 10px;
    .d-flex{
      display: block !important;
    }
    .footer-right{
      display: none;
    }
  }

}

@media (max-width: 479px){
  .page-header{
    display: none;
  }
}
.margin-right-5 { margin-right: 5px!important;}
.margin-top-5 { margin-top: 5px!important;}
.padding-bottom-10 {padding-bottom: 10px !important;}
.padding-top-10 {
    padding-top: 10px!important;
}
.clearfix:after {
    clear: both;
    content: ' ';
    display: block;
    font-size: 0;
    line-height: 0;
    visibility: hidden;
    width: 0;
    height: 0;
}


.demo-btns {
  margin: 0;
  padding: 0;
  list-style: none;
}
.demo-btns>li {
  margin-bottom: rem(7px);
  &.list-inline-item:not(:last-child) {
    margin-right: 0;
  }
}

.air {
    position: absolute;
    z-index: 5
}

.air-bottom {
    bottom: 0
}

.air-top {
    top: 0
}

.air-top-right {
    top: 0;
    right: 0
}

.air-top-left {
    top: 0;
    left: 0
}

.air-bottom-left {
    bottom: 0!important;
    left: 0!important;
    top: auto!important;
}

.air-bottom-right {
    bottom: 0;
    right: 0
}


.table-border-0 td, .table-border-0 th {
  border: 0 !important;
}

.row-seperator-header {
  margin: 15px 0 20px;
  display: block;
  font-size: 20px;
  font-weight: 400;

}

.google_maps {
    width: 100%;
    height: 350px;
    position: relative;
  * {
      box-sizing: content-box;
      -webkit-box-sizing: content-box;
      -moz-box-sizing: content-box
  }

  img {
      max-width: none
  }
}


@media (max-width: 767px) {
  .sa-content{
    padding-left: 5px;
    padding-right: 5px;
  }
  .sa-page-ribbon{
    height: 42px;
    border-bottom: 1px solid;
    border-top: 1px solid;
  }
  .sa-sparks h5 {
    margin: 0;
  }
}


@media only screen and (max-width: 479px) and (min-width: 320px) {
  .hidden-mobile {
    display: none !important;
  }
}
@media (min-width:768px) and (max-width:991px) {
 .hidden-sm {
  display:none!important
 }
}
@media (max-width: 991px){
  .hidden-sm-down {
    display: none !important;
  }
}